.exhauster-open {
    display: block;
}

.modal {
}

.modal-body {
    overflow: scroll;
    height: 80vh;
}

.modal-dialog {
    max-width: 80vw;
}

.form-group {
    display: inline-block;
    margin-right: 5px;
}

.show-no-features {
    display: none;
}

.material-icons {
    font-size: 16px;
}